@model PizzeriaInForno.Models.Ordini

@{
    ViewBag.Title = "Order Confirmed";
}

<h2>Order <span class="text-cst-red">confirmed</span>!</h2>

<div class="">

    <div class="fs-5 my-4">
        <p class="m-0">Thanks for your order, @Model.Utenti.Nome! ❤️</p>
        <p class="m-0">We'll be there in about <span class="text-cst-red fs-4">@ViewBag.TempoStimatoConsegna</span> minutes.</p>
    </div>


    <div class="py-3 my-4">
        <h5>Here's a recap:</h5>
        <div class="ms-3">
            <span class="text-dark text-opacity-75 fw-semibold">Your choices:</span>
            <ul>
                @foreach (var item in Model.DettagliOrdini)
                {
                    <li>@item.Prodotti.NomeProd x @item.Quantita - $ @(item.Quantita * item.Prodotti.Prezzo)</li>
                }
            </ul>

            <div class="mb-3">
                <span class="text-dark text-opacity-75 fw-semibold me-3">Total:</span>$ @Model.DettagliOrdini.Sum(item => item.Quantita * item.Prodotti.Prezzo)
            </div>

            <div>
                <span class="text-dark text-opacity-75 fw-semibold me-2">Address:</span> @Model.Indirizzo
            </div>
            <div>
                <span class="text-dark text-opacity-75 fw-semibold me-3">Notes:</span> @Model.Note
                @if (!string.IsNullOrWhiteSpace(@Model.Note))
                {
                    <span>@Model.Note</span>
                }
                else
                {
                    <span> - </span>
                }
            </div>

        </div>

    </div>
    

    <p class="fs-5 pb-3 mx-0 my-4">Enjoy your meal! 🍕</p>

</div>
