@model PizzeriaInForno.Models.Ordini

@{
    ViewBag.Title = "Details";
    decimal totaleOrdine = 0;
}

<h2>Details</h2>

<div>
    <h4>Ordini</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.IDOrdine)</dt>
        <dd>@Html.DisplayFor(model => model.IDOrdine)</dd>

        <dt>@Html.DisplayNameFor(model => model.Utenti.Username)</dt>
        <dd>@Html.DisplayFor(model => model.Utenti.Username)</dd>

        <dt>@Html.DisplayNameFor(model => model.Utenti.Cognome)</dt>
        <dd>@Html.DisplayFor(model => model.Utenti.Cognome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Utenti.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Utenti.Nome)</dd>

        <dt>@Html.DisplayNameFor(model => model.Utenti.Tel)</dt>
        <dd>@Html.DisplayFor(model => model.Utenti.Tel)</dd>

        <dt>@Html.DisplayNameFor(model => model.DataOrdine)</dt>
        <dd>@Html.DisplayFor(model => model.DataOrdine)</dd>

        <dt>@Html.DisplayNameFor(model => model.Indirizzo)</dt>
        <dd>@Html.DisplayFor(model => model.Indirizzo)</dd>

        <dt>@Html.DisplayNameFor(model => model.Note)</dt>
        <dd>@Html.DisplayFor(model => model.Note)</dd>

        <dt>@Html.DisplayNameFor(model => model.Evaso)</dt>
        <dd>@(Model.Evaso.HasValue ? (Model.Evaso.Value ? "Evaso" : "In attesa") : "")</dd>

    </dl>
</div>

<h3>Prodotti Ordinati</h3>
@if (Model.DettagliOrdini != null && Model.DettagliOrdini.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Prodotto</th>
                <th>Quantità</th>
                <th>Prezzo Unitario</th>
                <th>Totale</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DettagliOrdini)
            {
                <tr>
                    <td>@item.Prodotti.NomeProd</td>
                    <td>@item.Quantita</td>
                    <td>@item.Prodotti.Prezzo €</td>
                    <td>@(item.Quantita * item.Prodotti.Prezzo) €</td>
                </tr>
                totaleOrdine += item.Quantita * item.Prodotti.Prezzo;
            }
        </tbody>
    </table>
    <h4>Totale Ordine: @totaleOrdine €</h4>
}
else
{
    <p>Nessun prodotto ordinato.</p>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDOrdine }) |
    @Html.ActionLink("Back to List", "Index")
</p>
