@model PizzeriaInForno.Models.Ordini

@{
    ViewBag.Title = "Details";
    decimal totaleOrdine = 0;
}

<h2>Order info</h2>

<div>
    <hr />

    <div class="d-flex justify-content-between my-4">
        <div class="d-flex">
            <div class="d-flex flex-column fw-semibold px-3">
                <p>#Order</p>
                <p>@Html.DisplayNameFor(model => model.Utenti.Username)</p>
                <p>@Html.DisplayNameFor(model => model.Utenti.Cognome)</p>
                <p>@Html.DisplayNameFor(model => model.Utenti.Nome)</p>
                <br />

                <p>@Html.DisplayNameFor(model => model.Evaso)</p>
                <p>@Html.DisplayNameFor(model => model.DataOrdine)</p>
                <p>@Html.DisplayNameFor(model => model.Indirizzo)</p>
                <p>@Html.DisplayNameFor(model => model.Utenti.Tel)</p>
                <p>@Html.DisplayNameFor(model => model.Note)</p>

            </div>
            <div class="flex-column px-3">
                <p>@Html.DisplayFor(model => model.IDOrdine)</p>
                <p>@Html.DisplayFor(model => model.Utenti.Username)</p>
                <p>@Html.DisplayFor(model => model.Utenti.Cognome)</p>
                <p>@Html.DisplayFor(model => model.Utenti.Nome)</p>
                <br

                <p>@(Model.Evaso.HasValue ? (Model.Evaso.Value ? "Evaso" : "In attesa") : "")</p>
                <p>@Html.DisplayFor(model => model.DataOrdine)</p>
                <p>@Html.DisplayFor(model => model.Indirizzo)</p>
                <p>@Html.DisplayFor(model => model.Utenti.Tel)</p>
                <p>
                    @if (String.IsNullOrEmpty(Model.Note))
                    {
                        @:-
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Note)
                    }
                </p>



            </div>
        </div>


    </div>
    @if ((Session["IsAdmin"] as bool?) ?? false)
    {
        <p>
            <a href="@Url.Action("Index")" class="btn btn-warning btn-cst-red">
                <i class="bi bi-arrow-left-square"></i> Orders
            </a>
        </p>
    }
    else
    {
        <p>
            <a href="@Url.Action("Details", "Utenti", new { id = Session["UserID"] })" class="btn btn-warning btn-cst-red"><i class="bi bi-arrow-left-square"></i> Profile</a>
        </p>
    }
<hr />

    <h3>Details</h3>
    @if (Model.DettagliOrdini != null && Model.DettagliOrdini.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Pizzas</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DettagliOrdini)
                {
                    <tr>
                        <td>@item.Prodotti.NomeProd</td>
                        <td>@item.Quantita</td>
                        <td>$ @item.Prodotti.Prezzo</td>
                        <td>$ @(item.Quantita * item.Prodotti.Prezzo)</td>
                    </tr>
                    totaleOrdine += item.Quantita * item.Prodotti.Prezzo;
                }
            </tbody>
        </table>
        <h6 class="my-4">Checkout: $ @totaleOrdine</h6>
    }
    else
    {
        <p>Nessun prodotto ordinato.</p>
    }




