@model IEnumerable<PizzeriaInForno.Models.Ordini>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Data Ordine</th>
        <th>Cliente</th>
        <th>Indirizzo</th>
        <th>Stato</th>
        <th>Azioni</th>
    </tr>

    @foreach (var ordine in Model)
    {
        <tr>
            <td>@ordine.DataOrdine</td>
            <td>@ordine.Utenti.Nome @ordine.Utenti.Cognome</td>
            <td>@ordine.Indirizzo</td>
            <td>@(ordine.Evaso.HasValue && ordine.Evaso.Value ? "Evaso" : "In attesa")</td>

            <td>
                @if (!ordine.Evaso.HasValue || !ordine.Evaso.Value) // Se Evaso è null o false, mostra il link
                {
                    @Html.ActionLink("Evaso", "Evaso", new { id = ordine.IDOrdine }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Dettagli", "Details", new { id = ordine.IDOrdine }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Elimina", "Delete", new { id = ordine.IDOrdine }, new { @class = "btn btn-danger", onclick = "return confirm('Sei sicuro di voler eliminare questo ordine?');" })


                }
                else
                {
                    @Html.ActionLink("In attesa", "Evaso", new { id = ordine.IDOrdine }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Dettagli", "Details", new { id = ordine.IDOrdine }, new { @class = "btn btn-info" })
                }
            </td>
        </tr>
    }
</table>
