@model IEnumerable<PizzeriaInForno.Models.Ordini>

@{
    ViewBag.Title = "Orders Index";
}

<h2>Orders</h2>


<table class="table mt-4">
    <tr>
        <th>Order Date</th>
        <th>Customer</th>
        <th>Address</th>
        <th>Status</th>
        <th>Notes</th>
        <th></th>
    </tr>

    @foreach (var ordine in Model)
    {
        <tr>
            <td>@ordine.DataOrdine</td>
            <td>@ordine.Utenti.Nome @ordine.Utenti.Cognome</td>
            <td>@ordine.Indirizzo</td>
            <td>
                @if (ordine.Evaso.HasValue && ordine.Evaso.Value)
                {
                    @:✓
                }
                else
                {
                    <span class="text-warning fw-semibold">Pending</span>
                }
            </td>
            <td>
                @if (!string.IsNullOrWhiteSpace(ordine.Note))
                {
                    <span class="text-warning" style="text-shadow: 0 0 1px #f00;"><i class="bi bi-pencil-fill"></i></span> <!-- Indica la presenza di note -->
                }
                else
                {
                    <span><i class="bi bi-x"></i></span> <!-- Indica l'assenza di note -->
                }
            </td>
            <td>
                @if (!ordine.Evaso.HasValue || !ordine.Evaso.Value) // Se Evaso è null o false, mostra il link
                {
                    <a href="@Url.Action("Evaso", new { id = ordine.IDOrdine })" class="btn btn-success"><i class="bi bi-check2-square"></i></a>
                    <a href="@Url.Action("Details", new { id = ordine.IDOrdine })" class="btn btn-warning mx-2"><i class="bi bi-info-square"></i></a>
                    <a href="@Url.Action("Delete", new { id = ordine.IDOrdine })" class="btn btn-danger btn-cst-red"><i class="bi bi-x-square"></i></a>
                }
                else
                {
                    <a href="@Url.Action("Evaso", new { id = ordine.IDOrdine })" class="btn btn-secondary"><i class="bi bi-hourglass-bottom"></i></a>
                    <a href="@Url.Action("Details", new { id = ordine.IDOrdine })" class="btn btn-warning mx-2"><i class="bi bi-info-square"></i></a>
                }
            </td>

        </tr>
    }
</table>
