@model PizzeriaInForno.Models.Utenti

@{
    ViewBag.Title = "Details";
}

<h2>Your <span class="text-cst-red">profile</span></h2>

<div>

    <hr />

    <div class="d-flex justify-content-between my-4">
        <div class="d-flex">
            <div class="d-flex flex-column fw-semibold px-3">

                <p>@Html.DisplayNameFor(model => model.Username)</p>
                <p>@Html.DisplayNameFor(model => model.Password)</p>
                <p>@Html.DisplayNameFor(model => model.Nome)</p>
                <p>@Html.DisplayNameFor(model => model.Cognome)</p>
                <p>@Html.DisplayNameFor(model => model.Email)</p>
                <p>@Html.DisplayNameFor(model => model.Tel)</p>

            </div>

            <div class="flex-column px-3">
                <p>@Html.DisplayFor(model => model.Username)</p>
                <p>*******</p>
                <p>@Html.DisplayFor(model => model.Nome)</p>
                <p>@Html.DisplayFor(model => model.Cognome)</p>
                <p>@Html.DisplayFor(model => model.Email)</p>
                <p>@Html.DisplayFor(model => model.Tel)</p>
            </div>
        </div>


    </div>

    <p>
        <a href="@Url.Action("Edit", new { id = Model.IDUtente })" class="btn btn-warning btn-cst-red">
            <i class="bi bi-pencil-square"></i> Edit
        </a>
    </p>


    <hr />
    <h2>Your <span class="text-cst-red">orders</span></h2>
    @if (Model.Ordini != null && Model.Ordini.Any())
    {
        <table class="table my-4">
            <thead>
                <tr>
                    <th>#Order</th>
                    <th>Order Date</th>
                    <th>Address</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ordine in Model.Ordini)
                {
                    <tr>
                        <td>@ordine.IDOrdine</td>
                        <td>@ordine.DataOrdine</td>
                        <td>@ordine.Indirizzo</td>                        
                        <td>
                            @if (ordine.Evaso.HasValue && ordine.Evaso.Value)
                            {
                                @:✓
                            }
                            else
                            {
                                <span class="text-warning fw-semibold">Pending</span>
                            }
                        </td>
                        <td>$ @ordine.DettagliOrdini.Sum(d => d.Quantita * d.Prodotti.Prezzo)</td>
                        <td>
                            <a href="@Url.Action("Details", "Ordini", new { id = ordine.IDOrdine })" class="btn btn-warning btn-cst-red">
                                <i class="bi bi-info-square"></i>
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Feeling hungry? Place your first order!</p>
    }



